<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <h3 class="main-header">Find your favourite cocktail</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('<%= cocktail.url %>');">
            <h3>
              <%= cocktail.name %>
            </h3>
            <ul>
              <% cocktail.doses.each do |dose| %>
              <li><%= dose.description %> <%= dose.ingredient.name %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
